#DivGrandote{
    background-color:#012b4d;
    margin: 5px;
    Font-family: "Consolas", monaco, monospace;
    text-align: center;
    color:white;
    align-content: center;
    justify-content: center;
}

#input_juego{
    height: 30px;
    width: 70%;
    border-radius: 10px;
    font-size: x-large;
    Font-family: "Consolas", monaco, monospace;
 }
 
 #botonConsultar{
     height:30px;
     width: 25%;
     color:white;
     Font-family: "Consolas", monaco, monospace;
     background-color: #563b3b81;
     margin: 5px;
     border-radius: 10px;
     font-size: large;
 }

 #general{
    height: 100%;
    width: 100%;
    display: flex;
    margin: 5px;
    justify-content: center;
}

#informacion{
    height:750px;
    width: 70%;
    margin: 5px;
}

#recomendacion{
    height:750px;
    width: 30%;
    margin: 5px;
    border-radius: 20px;
    border-color: white;
    border-width: 5px;
    border-style:double;
    justify-content: center;
}

.datos{
    height: 90%;
    width: 95%;
    margin: 5px;   
    text-align: center;
    justify-content: center;
    
}

.text{
    width: 100%;
    border-color: white;
    border-radius: 5px;
    margin: 5px;
    border-color: white;
    border-width: 1px;
    border-style:groove;
    text-align: center;
}