#DivGrandote{
    background-color:#012b4d;
    margin: 5px;
    Font-family: "Consolas", monaco, monospace;
    text-align: center;
    color:white;
    align-content: center;
    justify-content: center;
}